source/SensorTagReaderSolution/SensorTagLibrary/obj/*
source/SensorTagReaderSolution/SensorTagLibrary/bin/*
source/SensorTagReaderSolution/SensorTagReader/bin/*
source/SensorTagReaderSolution/SensorTagReader/obj/*
